<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestSuite" verbose="1">

    <test name="LoginTests">
        <packages>
            <package name="com.ninja.login"/>
        </packages>
    </test>

    <test name="RegisterTests">
        <packages>
            <package name="com.ninja.register"/>
        </packages>
    </test>

</suite>
